/[L|l]ibrary/
/[T|t]emp/
/[O|o]bj/
/[B|b]uild/
/[B|b]uilds/
/[L|l]ogs/
/[U|u]ser[S|s]ettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.pdb
*.opendb
*.IDB
crashdump.dmp
.vs/
.vscode/